.app {
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: #dadbd3;
}

.app__body {
    display: flex;
    background-color: #ededed;
    height: 90vh;
    margin-top: -50px;
    width: 90vw;
}
